Team members: Victor Alves, Kai Brown, Garrett Powell

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (92) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head(1)

,id,adults,age,antiques,architecture_type,avid_collector,bank_card_in_household,baths,beds,bld_val,...,tax_year,tech_focused,travel,trust,units,womens_apparel,year_built,private_san_leandro_high_energy_use,private_stop_waste_clearesult,label
0,0d422ed1-239f-4c23-913c-9ed013016274,1.0,48.0,NaN,RANCH,NaN,NaN,3.0,5.0,1860000.0,...,2016.0,t,f,NaN,NaN,NaN,1952.0,NaN,NaN,awesome

In [8]:
df.shape

(8582, 94)

## Q1: How many rows are there?

In [9]:
df.shape[0]

8582

## Q2: How many columns are there?

In [10]:
df.shape[1]

94

## Q3: How many different architecture types are there?

In [15]:
len(df["architecture_type"].value_counts())

15

## Q4: How many times does the most common architecture type appear?

In [31]:
df["architecture_type"].value_counts().max()

4789

## Q5: What's the mean age?

In [33]:
df["age"].mean()

57.91091399922869

## Q6: Which household has the largest net worth?

In [106]:
df["net_worth"].max()

600000.0

## Q7: What's the mean number of bedrooms?

In [35]:
df["beds"].mean()

3.308225616921269

## Q8: What percentage of entries are male?

In [52]:
genders = df["gender"].value_counts()
genders["Male"] / (genders.sum()) * 100

37.057974500841958

## Q9: How many different primary languages are there?

In [58]:
len(df.groupby("primary_language"))

23

## Q10: What percentage of people are investing?

In [72]:
df["investing"].value_counts().max() / len(df["investing"]) * 100

47.937543696108129

In [107]:
null = df["investing"].isnull().value_counts()
null[False] / (null.sum()) * 100

47.937543696108129

## BONUS: How many people have a net worth of 0.0?

In [126]:
tf = df[df["net_worth"] == df["net_worth"].min()]
tf["net_worth"].value_counts()[0]